In [25]:
from langchain_text_splitters import RecursiveCharacterTextSplitter
from langchain_community.document_loaders import ReadTheDocsLoader
from langchain_huggingface import HuggingFaceEmbeddings
from langchain.vectorstores import FAISS
from langchain_community.document_loaders import PyPDFLoader
from langchain.chains.retrieval import create_retrieval_chain
from langchain import hub
from langchain.chains.combine_documents import create_stuff_documents_chain
from langchain_groq import ChatGroq
from dotenv import load_dotenv
import os 
# Load environment variables
load_dotenv()
groq_api_key = os.getenv("GROQ_API_KEY")

In [6]:
def ingest_docs():
    loader = ReadTheDocsLoader("langchain-docs/api.python.langchain.com/en/latest")
    raw_documents = loader.load()
    return raw_documents

In [11]:
loader = PyPDFLoader("SQL Interview Questions.pdf")
docs = loader.load()

c:\Users\s\miniconda3\envs\langchainenv\lib\site-packages\pypdf\_crypt_providers\_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from this module in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

In [12]:
docs

[Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 0}, page_content=' \n \n \n \n800+ SQL SERVER         \nINTERVIEW       \nQUESTION   \nANSWERS PDF  \nwww.interviewquestionspd f.com  \n \n \n \n \n '),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 1}, page_content='SQL SERVER INTERVIEW QUESTION  \nANSWERS  PDF (MORE THAN 800+ QUESTION FREE PDF \nDOWNLOAD)   \nBY Vikas Ahlawat ( www.interviewquestionspdf.com ) \nFor latest interview questions must visit www.interviewquestionspdf.com  \n \n \n \n \nSQL SERVER INTERVIEW QUESTIONS ANSWERS  \n \nDescription  Link \nBasic SQL Interview Q.(for 0 -1 year exp)      Sql Server Basic Interview Query Set -1  \nString Related Basic Queries(for 0 -1 year exp)  Sql Server Basic Interview Query Set -2  \nDate Time related Queries(for 0 -1 year exp)  Sql Server Date -Time Interview Query SET -3  \nSalary Related Queries  (for 0 -2 year exp)  Sql Server Salary Interview Query SET -4  \nGroup By Related Queries(for 0 -2 year exp)  Sql Server Group By Interview Query SET -5  \nJoin Related Queries(for 0 -2 year exp)  Sql Server Join Interview Query SET -6  \nTricky Join Queries(for 0 -2 year exp)  Sql Server Tricky Join Interview Query SET -7  \nDDL Queries(for 0 -2 year exp)  Sql Server DDL Interview Query SET -8  \nVery Interesting set(for 2 -5+ year exp)  Small but tricky Interview Query SET -9  \nVery Mu ch Tricky Q .(for 2 -5+ year exp)  Very much Tricky(not 4 freshers)Query SET -10  \n \nComplex Query(for 2 -5+ year exp)  Sql Server Complex Interview Query SET -11  \nData type Interview Q .(for 2 -5+ year exp)  Sql Server Datatype Interview Questions   12 \nTCS Tricky Interview Q .(for 2 -5+ year exp)  TCS Sql  Server Tricky Interview Queries 13 \nHCL SQL  Interview Q .(for 3 -5+ year exp)  HCL Sql Server Interview Queries 14 \nView Interview Questions(for 2 -5+ year exp)  Sql Server View Interview Questions 15 \nIndex Interview Questions(for 2 -5+ year exp)  Sql Server Index Interview Questions 16 \nStored Proc. Interview Q .(for 2 -5+ year exp)  Sql Server SP Interview Questions 17 \nTemp Table Interview Q .(for 2 -5+ year exp)  Sql Server Temp Table Interview Questions 18 \nSql S. 2016 Interview Q (for 2 -5+ year exp)  Sql Server 2 016 Interview Questions 19 \nConstraints Interview Q . (for 2 -5+ year exp)  Sql Server Constraints Interview Questions  20 \nStorage Related Interview Q . (for 2 -5+ year exp)  Sql Server Storage/Size Interview Questions  21 \nBasic Sql Server Interview Q. (for 2 -5+ year exp)  Sql Server Very Basic Interview Questions  22 \nSql Server 2017 Interview Q.(for 0 -5+ year exp)  Sql Server 2017 Interview Questions 23 \n300 SQL Interview Question(for 0 -5+ year exp)  Sql Server 300 Random Interview Questions  24  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 2}, page_content=' \n \n \n \n \nHere our step by step SQL Server Interview Questions/ TSQL Queries asked during \ninterview.  \n \nSet-1: Sql Server Basic Interview Query  \nTables: - \n \n \n \n \n1. Write a query to get all employee detail from "EmployeeDetail" table   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  \nOracle:               SELECT  * FROM  EmployeeDetail  \nMySQL:               SELECT  * FROM  EmployeeDetail  \n \n \n \n2. Write a query to get only "FirstName" column from "EmployeeDetail" table   \nANS:  \nMS SQL Server:  SELECT  FirstName  FROM  EmployeeDetail  \nOracle:                 SELECT  FirstName  FROM  EmployeeDetail  \nMySQL:               SELECT  FirstName  FROM  EmployeeDetail  \n  \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 3}, page_content=' \n \n \n3. Write a query to get FirstName in upper case as "First Name".   \nANS:  \nMS SQL Server:  SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nOracle:                 SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nMySQL:              SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \n \n \n \n \n4. Write a query to get FirstName in lower case as " First Name".   \nANS:  \nMS SQL Server:  SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nOracle:                 SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nMySQL:              SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \n \n \n \n \n \n5. Write a query for combine FirstName and LastName and display it as "Name" (also \ninclude white space between first name & last name)   \nANS:   \nMS SQL Server:  SELECT  FirstName + \' \'+ LastName  AS [Name]   FROM  EmployeeDetail  \nOracle:                   SELECT  FirstName || \' \'|| LastName  AS [Name]   FROM  EmployeeDetail  \nMySQL:                SELECT  CONCAT (FirstName , \' \', LastName)  AS [Name]   FROM  EmployeeDetail  \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 4}, page_content=' \n \n \n \n \n6. Select employee detail whose name is "Vikas"   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \n \n \n \n \n \n \n \n \n7. Get all employee detail from EmployeeDetail table whose "FirstName" start with \nlatter \'a\'.   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \nMySQL:               SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \n \n \n \n \n \n \n \n \n \n8. Get all employee details from EmployeeDetail table whose "FirstName" contains \n\'k\'  \nANS:  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 5}, page_content='MS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%k%\'  \nOracle:                 SELECT  * FROM  Emplo yeeDetail  WHERE  FirstName  like \'%k%\'  \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%k%\'  \n \n \n \n \n \n9. Get all employee details from EmployeeDetail table whose "FirstName" end with \n\'h\'  \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \n \n \n \n \n \n \n10. Get all employee detail from EmployeeDetail table whose "FirstName"  start with \nany single character between \'a -p\'  \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\' \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\' \n \n \n \n \n \n \n \n \n \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 6}, page_content=' \n \n \n \n \nSet-2: Sql Server Basic Interview Query  \n \nRelated Tables: - \n \n \nQuestions Answers  \n \n11). Get all employee detail from EmployeeDetail table whose "FirstName" not start \nwith any single character between \'a -p\' \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'[^a-p]%\' \n \n \n12). Get all employee detail from EmployeeDetail  table whose "Gender" end with \'le\' \nand contain 4 letters. The Underscore(_) Wildcard Character represents any single \ncharacter.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Gender  like \'__le\'  --there are two "_"  \n \n \n13). Get all employee detail from EmployeeDetail table whose "FirstName" start with \n\'A\' and contain 5 letters.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'A____\'  --there are four "_"  \n \n \n14). Get all employee detail from EmployeeDetail table whose "FirstName" \ncontaining \'%\'. ex:-"Vik%as".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'%[%]%\'  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 7}, page_content='--According to our table it would return 0 rows, because no name containg \'%\'  \n \n15). Get all unique "Department" from EmployeeDetail table.  \nAns: SELECT  DISTINCT (Department)  FROM  [EmployeeDetail]  \n \n \n16). Get the highest "Salary" from EmployeeDetail table.  \nAns: SELECT  MAX (Salary)  FROM  [EmployeeDetail]  \n \n \n17). Get the lowest "Salary" from EmployeeDetail table.  \nAns: SELECT  MIN(Salary)  FROM  [EmployeeDetail]  \n \n \n***SQL SERVER DATE RELATED INTERVIEW QUERY *** \n \n18). Show "JoiningDate" in "dd mmm yyyy" format, ex - "15 Feb 2013"  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,106)  FROM  [EmployeeDetail]  \n \n \n19). Show "JoiningDate" in "yyyy/mm/dd" format, ex - "2013/02/15"  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,111)  FROM  [EmployeeDetail]  \n \n \n20). Show only time part of the "JoiningDate".  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,108)  FROM  [EmployeeDetail]  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 8}, page_content=' \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 9}, page_content=' \nSet-3: Sql Server Date -Time Interview Query \n(Date Time related Queries ) \nRelated Table: - \n \n \n***SQL DATETIME RELATED QUERIES***  \n21). Get only Year part  of "JoiningDate".  \nAns: SELECT  DATEPART (YEAR , JoiningDate)  FROM  [EmployeeDetail]  \n \n \n22). Get only Month part of "JoiningDate".  \nAns: SELECT  DATEPART (MONTH ,JoiningDate)  FROM  [EmployeeDetail]  \n \n23). Get system date.  \nAns: SELECT  GETDATE () \n \n24). Get UTC date.  \nAns: SELECT  GETUTCDATE () \n \n25). Get the first name, current date, joiningdate and diff between current date and \njoining date in months.  \nAns: SELECT  FirstName,  GETDATE () [Current Date],  JoiningDate,  \nDATEDIFF (MM,JoiningDate, GETDATE ()) AS [Total Months]  FROM  [EmployeeDetail]\n \n \n26). Get the first name, current date, joiningdate and diff between current date and \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 10}, page_content='joining date in days.  \nAns: SELECT  FirstName,  GETDATE () [Current Date],  JoiningDate,  \nDATEDIFF (DD,JoiningDate, GETDATE ()) AS [Total Months]  FROM  [EmployeeDe tail]\n \n \n27). Get all employee details from EmployeeDetail table whose joining year is 2013.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  DATEPART (YYYY,JoiningDate)  = \'2013\'  \n \n \n28). Get all employee details from EmployeeDetail table whose joining month is \nJan(1). \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  DATEPART (MM,JoiningDate)  = \'1\' \n \n \n29). Get all employee details from EmployeeDetail table whose joining date between \n"2013 -01-01" and "2013 -12-01". \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  JoiningDate  BETWEEN  \'2013 -01-\n01\' AND  \'2013 -12-01\' \n \n \n30). Get how many employee exist in "EmployeeDetail" table.  \nAns: SELECT  COUNT (*) FROM  [EmployeeDetail]  \n \n \n \n \n \n \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 11}, page_content='Set-4: Sql Server Salary Interview Query  (Salary \nRelated Queries ) \nRelated Tables: - \n \n \n \n31. Select only one/top 1 record from "EmployeeDetail" table.  \nAns: SELECT  TOP 1 * FROM  [EmployeeDetail]  \n  \n \n32. Select all employee detail with First name "Vikas","Ashish", and "Nikhil".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  IN(\'Vikas\' ,\'Ashish\' ,\'Nikhil\' ) \n  \n \n33. Select all employee detail with First name not in "Vikas","Ashish", and "Nikhil".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  NOT IN(\'Vikas\' ,\'Ashish\' ,\'Nikhil\' ) \n  \n \n34. Select first name from "EmployeeDetail" table after removing white spaces from \nright side  \nAns: SELECT  RTRIM (FirstName ) AS [FirstName]  FROM  [EmployeeDetail]  \n  \n \n35. Select first name from "EmployeeDetail" table after removing white spaces from \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 12}, page_content='left side  \nAns: SELECT  LTRIM (FirstName ) AS [FirstName]  FROM  [EmployeeDetail]  \n  \n \n36. Display first name and Gender as M/F.(if male then M, if Female then F)  \nAns: SELECT  FirstName , CASE   WHEN  Gender  = \'Male\'  THEN  \'M\' \nWHEN  Gender  = \'Female\'  THEN  \'F\' END AS [Gender]  \nFROM  [EmployeeDetail]  \n  \n \n37. Select first name from "EmployeeDetail" table prifixed with "Hello "  \nAns: SELECT  \'Hello \'  + FirstName  FROM  [EmployeeDetail]  \n  \n \n38. Get employee details from "EmployeeDetail" table whose Salary greater than \n600000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  > 600000  \n  \n \n39. Get employee details from "EmployeeDetail" table whose Salary less than 700000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  < 700000  \n  \n \n40. Get employee details from "EmployeeDetail" table whose Salary between 500000 \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 13}, page_content='than 600000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  BETWEEN  500000  AND  600000  \n  \n \n41. Select  second highest salary from "EmployeeDetail" table.  \nAns: SELECT  TOP 1 Salary  FROM  \n(SELECT  TOP 2 Salary  FROM  [EmployeeDetail]  ORDER  BY Salary  DESC ) T ORDER  BY Salar\nyASC \n  \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 14}, page_content=' \nSet-5: Sql Server Group By Interview Query  \n(Group By Related Queries ) \nRelated Table:  \n \n  \n \n \n \nQUESTIONS ANSWERS  \n42. Write the query to get the department and department wise total(sum) salary \nfrom "EmployeeDetail" table.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  \n \n \n43. Write the query to get the department and department wise total(sum) salary, \ndisplay it in ascending order according to salary.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY SUM(Salary ) ASC \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 15}, page_content=' \n \n44. Write the query to get the department and department wise total(sum) salary, \ndisplay it in descending order according to salary.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY SUM(Salary ) DESC  \n \n45. Write the query to get the department, total no. of departments, total(sum) salary \nwith respect to department from "EmployeeDetail" table.  \nAns: SELECT  Department , COUNT (*) AS [Dept Counts] , SUM(Salary ) AS [Total \nSalary]  FROM [EmployeeDetail]  \nGROUP  BY Department  \n \n \n46. Get department wise average salary from "EmployeeDetail" table order by salary \nascending  \nAns: SELECT  Department , AVG(Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY AVG(Salary ) ASC \n 47\n. Get department wise maximum salary from "EmployeeDetail" table order by salary \nascending  \nAns: SELECT  Department , MAX (Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY MAX (Salary ) ASC \n \n \n48. Get department wise minimum salary from "EmployeeDetail " table order by \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 16}, page_content='salary ascending  \nAns: SELECT  Department , MIN(Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY MIN(Salary ) ASC \n -- \n \nUSE OF HAVING  \n49. Write down the query to fetch Project name assign to more than one Employee  \nAns: Select  ProjectName ,Count (*) [NoofEmp]  from  [ProjectDetail]  GROUP  BY ProjectNa\nmeHAVING  COUNT (*)>1  \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 17}, page_content=' \n \nSet-6: Sql Server Join Interview Query   \n(Join Related Queries ) \nRelated Tables:  \n \n  \n  \n \nSQL JOINS RELATED INTERVIEW QUERIES  \n \n51. Get employee name, project name order by firstname from "EmployeeDetail" and \n"ProjectDetail" for those employee which have assigned project already.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A INNER  JOIN  [ProjectDeta\nil]B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 18}, page_content='52. Get employee name, project name order by firstname from "EmployeeDetail" and \n"ProjectDetail" for all employee even they have not assigned project.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A LEFT OUTER  JOIN [Projec\ntDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n53(35.1) Get employee name, project name order by firstname from \n"EmployeeDetail" and "ProjectDetail" for all employee if project is not assigned then \ndisplay " -No Project Assigned".  \nAns: SELECT  FirstName , ISNULL (ProjectName ,\'-No Project \nAssigned\' ) FROM [EmployeeDetail]  A LEFT OUTER  JOIN  [ProjectDetail]  B \nON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n54. Get all project name even they have not matching any employeeid, in left table, \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 19}, page_content='order by firstname from "EmployeeDetail" and " ProjectDetail".  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A RIGHT  OUTER  JOIN [Proj\nectDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n \n55. Get complete record ( employeename, project name) from both tables \n([EmployeeDetail] ,[ProjectDetail]), if no match found in any table then show NULL.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A FULL  OUTER  JOIN [Projec\ntDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n \n56. Write a query to find out the employeename who has not assigned any project, \nand display " -No Project Assigned"( tables : - [EmployeeDetail],[ProjectDetail]).  \nAns: SELECT  FirstName , ISNULL (ProjectName ,\'-No Project \nAssigned\' ) AS [ProjectName] FROM  [EmployeeDetail]  A LEFT OUTER  JOIN  [ProjectDetail]  \nB ON A.EmployeeID  =B.EmployeeDetailID  \nWHERE  ProjectName  IS NULL  \n  \n \n57. Write a query to find out the project name which is not assigned to any employee( \ntables : - [EmployeeDetail],[ProjectDetail]).  \nAns: SELECT  ProjectName  FROM  [EmployeeDetail]  A RIGHT  OUTER  JOIN  [ProjectDetail]  \nB ONA.EmployeeID  = B.EmployeeDetailID  \n'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 20}, page_content='WHERE  FirstName  IS NULL  \n  \n \n58. Write down the query to fetch EmployeeName & Project who has assign more \nthan one project.  \nAns: Select  EmployeeID , FirstName , ProjectName  from  [EmployeeDetail]  E INNER  JOIN [P\nrojectDetail]  P \nON E.EmployeeID  = P.EmployeeDetailID  \nWHERE  EmployeeID  IN (SELECT  EmployeeDetailID  FROM  [ProjectDetail]  GROUP  BYEmpl\noyeeDetailID  HAVING  COUNT (*) >1 ) \n  \n \n59. Write down the query to fetch ProjectName on which more than one employee \nare working along with EmployeeName.  \nAns: Select  P.ProjectName , E.FName  from  ProjectDetails  P INNER  JOIN  EmployeeDetails  \nE \non p.EmployeId  = E.Id where  P.ProjectName  in(select  ProjectName  from  ProjectDetails gr\noup by ProjectName  having  COUNT (1)>1)  \n \n \n \n \n \n \n \n \n \n'),

In [14]:
text_splitter = RecursiveCharacterTextSplitter(chunk_size = 1000, chunk_overlap = 200)

In [15]:
documents = text_splitter.split_documents(docs)

In [16]:
documents

[Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 0}, page_content='800+ SQL SERVER         \nINTERVIEW       \nQUESTION   \nANSWERS PDF  \nwww.interviewquestionspd f.com'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 1}, page_content='SQL SERVER INTERVIEW QUESTION  \nANSWERS  PDF (MORE THAN 800+ QUESTION FREE PDF \nDOWNLOAD)   \nBY Vikas Ahlawat ( www.interviewquestionspdf.com ) \nFor latest interview questions must visit www.interviewquestionspdf.com  \n \n \n \n \nSQL SERVER INTERVIEW QUESTIONS ANSWERS  \n \nDescription  Link \nBasic SQL Interview Q.(for 0 -1 year exp)      Sql Server Basic Interview Query Set -1  \nString Related Basic Queries(for 0 -1 year exp)  Sql Server Basic Interview Query Set -2  \nDate Time related Queries(for 0 -1 year exp)  Sql Server Date -Time Interview Query SET -3  \nSalary Related Queries  (for 0 -2 year exp)  Sql Server Salary Interview Query SET -4  \nGroup By Related Queries(for 0 -2 year exp)  Sql Server Group By Interview Query SET -5  \nJoin Related Queries(for 0 -2 year exp)  Sql Server Join Interview Query SET -6  \nTricky Join Queries(for 0 -2 year exp)  Sql Server Tricky Join Interview Query SET -7  \nDDL Queries(for 0 -2 year exp)  Sql Server DDL Interview Query SET -8'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 1}, page_content='Tricky Join Queries(for 0 -2 year exp)  Sql Server Tricky Join Interview Query SET -7  \nDDL Queries(for 0 -2 year exp)  Sql Server DDL Interview Query SET -8  \nVery Interesting set(for 2 -5+ year exp)  Small but tricky Interview Query SET -9  \nVery Mu ch Tricky Q .(for 2 -5+ year exp)  Very much Tricky(not 4 freshers)Query SET -10  \n \nComplex Query(for 2 -5+ year exp)  Sql Server Complex Interview Query SET -11  \nData type Interview Q .(for 2 -5+ year exp)  Sql Server Datatype Interview Questions   12 \nTCS Tricky Interview Q .(for 2 -5+ year exp)  TCS Sql  Server Tricky Interview Queries 13 \nHCL SQL  Interview Q .(for 3 -5+ year exp)  HCL Sql Server Interview Queries 14 \nView Interview Questions(for 2 -5+ year exp)  Sql Server View Interview Questions 15 \nIndex Interview Questions(for 2 -5+ year exp)  Sql Server Index Interview Questions 16 \nStored Proc. Interview Q .(for 2 -5+ year exp)  Sql Server SP Interview Questions 17'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 1}, page_content='Index Interview Questions(for 2 -5+ year exp)  Sql Server Index Interview Questions 16 \nStored Proc. Interview Q .(for 2 -5+ year exp)  Sql Server SP Interview Questions 17 \nTemp Table Interview Q .(for 2 -5+ year exp)  Sql Server Temp Table Interview Questions 18 \nSql S. 2016 Interview Q (for 2 -5+ year exp)  Sql Server 2 016 Interview Questions 19 \nConstraints Interview Q . (for 2 -5+ year exp)  Sql Server Constraints Interview Questions  20 \nStorage Related Interview Q . (for 2 -5+ year exp)  Sql Server Storage/Size Interview Questions  21 \nBasic Sql Server Interview Q. (for 2 -5+ year exp)  Sql Server Very Basic Interview Questions  22 \nSql Server 2017 Interview Q.(for 0 -5+ year exp)  Sql Server 2017 Interview Questions 23 \n300 SQL Interview Question(for 0 -5+ year exp)  Sql Server 300 Random Interview Questions  24'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 2}, page_content='Here our step by step SQL Server Interview Questions/ TSQL Queries asked during \ninterview.  \n \nSet-1: Sql Server Basic Interview Query  \nTables: - \n \n \n \n \n1. Write a query to get all employee detail from "EmployeeDetail" table   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  \nOracle:               SELECT  * FROM  EmployeeDetail  \nMySQL:               SELECT  * FROM  EmployeeDetail  \n \n \n \n2. Write a query to get only "FirstName" column from "EmployeeDetail" table   \nANS:  \nMS SQL Server:  SELECT  FirstName  FROM  EmployeeDetail  \nOracle:                 SELECT  FirstName  FROM  EmployeeDetail  \nMySQL:               SELECT  FirstName  FROM  EmployeeDetail'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 3}, page_content='3. Write a query to get FirstName in upper case as "First Name".   \nANS:  \nMS SQL Server:  SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nOracle:                 SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nMySQL:              SELECT  UPPER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \n \n \n \n \n4. Write a query to get FirstName in lower case as " First Name".   \nANS:  \nMS SQL Server:  SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nOracle:                 SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \nMySQL:              SELECT  LOWER (FirstName)  AS [First Name]   FROM  EmployeeDetail  \n \n \n \n \n \n5. Write a query for combine FirstName and LastName and display it as "Name" (also \ninclude white space between first name & last name)   \nANS:   \nMS SQL Server:  SELECT  FirstName + \' \'+ LastName  AS [Name]   FROM  EmployeeDetail'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 3}, page_content="include white space between first name & last name)   \nANS:   \nMS SQL Server:  SELECT  FirstName + ' '+ LastName  AS [Name]   FROM  EmployeeDetail  \nOracle:                   SELECT  FirstName || ' '|| LastName  AS [Name]   FROM  EmployeeDetail  \nMySQL:                SELECT  CONCAT (FirstName , ' ', LastName)  AS [Name]   FROM  EmployeeDetail"),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 4}, page_content='6. Select employee detail whose name is "Vikas"   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  = \'Vikas\'  \n \n \n \n \n \n \n \n \n7. Get all employee detail from EmployeeDetail table whose "FirstName" start with \nlatter \'a\'.   \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \nMySQL:               SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'a%\' \n \n \n \n \n \n \n \n \n \n8. Get all employee details from EmployeeDetail table whose "FirstName" contains \n\'k\'  \nANS:'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 5}, page_content='MS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%k%\'  \nOracle:                 SELECT  * FROM  Emplo yeeDetail  WHERE  FirstName  like \'%k%\'  \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%k%\'  \n \n \n \n \n \n9. Get all employee details from EmployeeDetail table whose "FirstName" end with \n\'h\'  \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'%h\' \n \n \n \n \n \n \n10. Get all employee detail from EmployeeDetail table whose "FirstName"  start with \nany single character between \'a -p\'  \nANS:  \nMS SQL Server:  SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\' \nOracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\' \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like \'[a-p]%\''),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 5}, page_content="Oracle:                 SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like '[a-p]%' \nMySQL:              SELECT  * FROM  EmployeeDetail  WHERE  FirstName  like '[a-p]%'"),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 6}, page_content='Set-2: Sql Server Basic Interview Query  \n \nRelated Tables: - \n \n \nQuestions Answers  \n \n11). Get all employee detail from EmployeeDetail table whose "FirstName" not start \nwith any single character between \'a -p\' \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'[^a-p]%\' \n \n \n12). Get all employee detail from EmployeeDetail  table whose "Gender" end with \'le\' \nand contain 4 letters. The Underscore(_) Wildcard Character represents any single \ncharacter.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Gender  like \'__le\'  --there are two "_"  \n \n \n13). Get all employee detail from EmployeeDetail table whose "FirstName" start with \n\'A\' and contain 5 letters.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'A____\'  --there are four "_"  \n \n \n14). Get all employee detail from EmployeeDetail table whose "FirstName" \ncontaining \'%\'. ex:-"Vik%as".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  like \'%[%]%\''),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 7}, page_content='--According to our table it would return 0 rows, because no name containg \'%\'  \n \n15). Get all unique "Department" from EmployeeDetail table.  \nAns: SELECT  DISTINCT (Department)  FROM  [EmployeeDetail]  \n \n \n16). Get the highest "Salary" from EmployeeDetail table.  \nAns: SELECT  MAX (Salary)  FROM  [EmployeeDetail]  \n \n \n17). Get the lowest "Salary" from EmployeeDetail table.  \nAns: SELECT  MIN(Salary)  FROM  [EmployeeDetail]  \n \n \n***SQL SERVER DATE RELATED INTERVIEW QUERY *** \n \n18). Show "JoiningDate" in "dd mmm yyyy" format, ex - "15 Feb 2013"  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,106)  FROM  [EmployeeDetail]  \n \n \n19). Show "JoiningDate" in "yyyy/mm/dd" format, ex - "2013/02/15"  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,111)  FROM  [EmployeeDetail]  \n \n \n20). Show only time part of the "JoiningDate".  \nAns: SELECT  CONVERT (VARCHAR (20),JoiningDate,108)  FROM  [EmployeeDetail]'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 9}, page_content='Set-3: Sql Server Date -Time Interview Query \n(Date Time related Queries ) \nRelated Table: - \n \n \n***SQL DATETIME RELATED QUERIES***  \n21). Get only Year part  of "JoiningDate".  \nAns: SELECT  DATEPART (YEAR , JoiningDate)  FROM  [EmployeeDetail]  \n \n \n22). Get only Month part of "JoiningDate".  \nAns: SELECT  DATEPART (MONTH ,JoiningDate)  FROM  [EmployeeDetail]  \n \n23). Get system date.  \nAns: SELECT  GETDATE () \n \n24). Get UTC date.  \nAns: SELECT  GETUTCDATE () \n \n25). Get the first name, current date, joiningdate and diff between current date and \njoining date in months.  \nAns: SELECT  FirstName,  GETDATE () [Current Date],  JoiningDate,  \nDATEDIFF (MM,JoiningDate, GETDATE ()) AS [Total Months]  FROM  [EmployeeDetail]\n \n \n26). Get the first name, current date, joiningdate and diff between current date and'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 10}, page_content='joining date in days.  \nAns: SELECT  FirstName,  GETDATE () [Current Date],  JoiningDate,  \nDATEDIFF (DD,JoiningDate, GETDATE ()) AS [Total Months]  FROM  [EmployeeDe tail]\n \n \n27). Get all employee details from EmployeeDetail table whose joining year is 2013.  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  DATEPART (YYYY,JoiningDate)  = \'2013\'  \n \n \n28). Get all employee details from EmployeeDetail table whose joining month is \nJan(1). \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  DATEPART (MM,JoiningDate)  = \'1\' \n \n \n29). Get all employee details from EmployeeDetail table whose joining date between \n"2013 -01-01" and "2013 -12-01". \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  JoiningDate  BETWEEN  \'2013 -01-\n01\' AND  \'2013 -12-01\' \n \n \n30). Get how many employee exist in "EmployeeDetail" table.  \nAns: SELECT  COUNT (*) FROM  [EmployeeDetail]'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 11}, page_content='Set-4: Sql Server Salary Interview Query  (Salary \nRelated Queries ) \nRelated Tables: - \n \n \n \n31. Select only one/top 1 record from "EmployeeDetail" table.  \nAns: SELECT  TOP 1 * FROM  [EmployeeDetail]  \n  \n \n32. Select all employee detail with First name "Vikas","Ashish", and "Nikhil".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  IN(\'Vikas\' ,\'Ashish\' ,\'Nikhil\' ) \n  \n \n33. Select all employee detail with First name not in "Vikas","Ashish", and "Nikhil".  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  FirstName  NOT IN(\'Vikas\' ,\'Ashish\' ,\'Nikhil\' ) \n  \n \n34. Select first name from "EmployeeDetail" table after removing white spaces from \nright side  \nAns: SELECT  RTRIM (FirstName ) AS [FirstName]  FROM  [EmployeeDetail]  \n  \n \n35. Select first name from "EmployeeDetail" table after removing white spaces from'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 12}, page_content='left side  \nAns: SELECT  LTRIM (FirstName ) AS [FirstName]  FROM  [EmployeeDetail]  \n  \n \n36. Display first name and Gender as M/F.(if male then M, if Female then F)  \nAns: SELECT  FirstName , CASE   WHEN  Gender  = \'Male\'  THEN  \'M\' \nWHEN  Gender  = \'Female\'  THEN  \'F\' END AS [Gender]  \nFROM  [EmployeeDetail]  \n  \n \n37. Select first name from "EmployeeDetail" table prifixed with "Hello "  \nAns: SELECT  \'Hello \'  + FirstName  FROM  [EmployeeDetail]  \n  \n \n38. Get employee details from "EmployeeDetail" table whose Salary greater than \n600000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  > 600000  \n  \n \n39. Get employee details from "EmployeeDetail" table whose Salary less than 700000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  < 700000  \n  \n \n40. Get employee details from "EmployeeDetail" table whose Salary between 500000'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 13}, page_content='than 600000  \nAns: SELECT  * FROM  [EmployeeDetail]  WHERE  Salary  BETWEEN  500000  AND  600000  \n  \n \n41. Select  second highest salary from "EmployeeDetail" table.  \nAns: SELECT  TOP 1 Salary  FROM  \n(SELECT  TOP 2 Salary  FROM  [EmployeeDetail]  ORDER  BY Salary  DESC ) T ORDER  BY Salar\nyASC'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 14}, page_content='Set-5: Sql Server Group By Interview Query  \n(Group By Related Queries ) \nRelated Table:  \n \n  \n \n \n \nQUESTIONS ANSWERS  \n42. Write the query to get the department and department wise total(sum) salary \nfrom "EmployeeDetail" table.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  \n \n \n43. Write the query to get the department and department wise total(sum) salary, \ndisplay it in ascending order according to salary.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY SUM(Salary ) ASC'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 15}, page_content='44. Write the query to get the department and department wise total(sum) salary, \ndisplay it in descending order according to salary.  \nAns: SELECT  Department , SUM(Salary ) AS [Total Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY SUM(Salary ) DESC  \n \n45. Write the query to get the department, total no. of departments, total(sum) salary \nwith respect to department from "EmployeeDetail" table.  \nAns: SELECT  Department , COUNT (*) AS [Dept Counts] , SUM(Salary ) AS [Total \nSalary]  FROM [EmployeeDetail]  \nGROUP  BY Department  \n \n \n46. Get department wise average salary from "EmployeeDetail" table order by salary \nascending  \nAns: SELECT  Department , AVG(Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY AVG(Salary ) ASC \n 47\n. Get department wise maximum salary from "EmployeeDetail" table order by salary \nascending  \nAns: SELECT  Department , MAX (Salary ) AS [Average Salary]  FROM  [EmployeeDetail]'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 15}, page_content='47\n. Get department wise maximum salary from "EmployeeDetail" table order by salary \nascending  \nAns: SELECT  Department , MAX (Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY MAX (Salary ) ASC \n \n \n48. Get department wise minimum salary from "EmployeeDetail " table order by'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 16}, page_content='salary ascending  \nAns: SELECT  Department , MIN(Salary ) AS [Average Salary]  FROM  [EmployeeDetail]  \nGROUP  BY Department  ORDER  BY MIN(Salary ) ASC \n -- \n \nUSE OF HAVING  \n49. Write down the query to fetch Project name assign to more than one Employee  \nAns: Select  ProjectName ,Count (*) [NoofEmp]  from  [ProjectDetail]  GROUP  BY ProjectNa\nmeHAVING  COUNT (*)>1'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 17}, page_content='Set-6: Sql Server Join Interview Query   \n(Join Related Queries ) \nRelated Tables:  \n \n  \n  \n \nSQL JOINS RELATED INTERVIEW QUERIES  \n \n51. Get employee name, project name order by firstname from "EmployeeDetail" and \n"ProjectDetail" for those employee which have assigned project already.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A INNER  JOIN  [ProjectDeta\nil]B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 18}, page_content='52. Get employee name, project name order by firstname from "EmployeeDetail" and \n"ProjectDetail" for all employee even they have not assigned project.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A LEFT OUTER  JOIN [Projec\ntDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n53(35.1) Get employee name, project name order by firstname from \n"EmployeeDetail" and "ProjectDetail" for all employee if project is not assigned then \ndisplay " -No Project Assigned".  \nAns: SELECT  FirstName , ISNULL (ProjectName ,\'-No Project \nAssigned\' ) FROM [EmployeeDetail]  A LEFT OUTER  JOIN  [ProjectDetail]  B \nON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n54. Get all project name even they have not matching any employeeid, in left table,'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 19}, page_content='order by firstname from "EmployeeDetail" and " ProjectDetail".  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A RIGHT  OUTER  JOIN [Proj\nectDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n \n55. Get complete record ( employeename, project name) from both tables \n([EmployeeDetail] ,[ProjectDetail]), if no match found in any table then show NULL.  \nAns: SELECT  FirstName ,ProjectName  FROM  [EmployeeDetail]  A FULL  OUTER  JOIN [Projec\ntDetail]  B ON A.EmployeeID  = B.EmployeeDetailID  ORDER  BY FirstName  \n  \n \n56. Write a query to find out the employeename who has not assigned any project, \nand display " -No Project Assigned"( tables : - [EmployeeDetail],[ProjectDetail]).  \nAns: SELECT  FirstName , ISNULL (ProjectName ,\'-No Project \nAssigned\' ) AS [ProjectName] FROM  [EmployeeDetail]  A LEFT OUTER  JOIN  [ProjectDetail]  \nB ON A.EmployeeID  =B.EmployeeDetailID  \nWHERE  ProjectName  IS NULL'),
 Document(metadata={'source': 'SQL Interview Questions.pdf', 'page': 19}, page_content="Assigned' ) AS [ProjectName] FROM  [EmployeeDetail]  A LEFT OUTER  JOIN  [ProjectDetail]  \nB ON A.EmployeeID  =B.EmployeeDetailID  \nWHERE  ProjectName  IS NULL  \n  \n \n57. Write a query to find out the project name which is not assigned to any employee( \ntables : - [EmployeeDetail],[ProjectDetail]).  \nAns: SELECT  ProjectName  FROM  [EmployeeDetail]  A RIGHT  OUTER  JOIN  [ProjectDetail]  \nB ONA.EmployeeID  = B.EmployeeDetailID"),

In [18]:
embeddings = HuggingFaceEmbeddings()

c:\Users\s\miniconda3\envs\langchainenv\lib\site-packages\sentence_transformers\cross_encoder\CrossEncoder.py:11: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm, trange

In [19]:
db = FAISS.from_documents(documents,embeddings)

In [20]:
db.save_local("my_faiss_index")

In [22]:
retrieval_qa_chat_prompt  = hub.pull("langchain-ai/retrieval-qa-chat")

c:\Users\s\miniconda3\envs\langchainenv\lib\site-packages\langchain\hub.py:86: DeprecationWarning: The `langchainhub sdk` is deprecated.
Please use the `langsmith sdk` instead:
  pip install langsmith
Use the `pull_prompt` method.
  res_dict = client.pull_repo(owner_repo_commit)

In [26]:


llm = ChatGroq(
    groq_api_key=groq_api_key,
    model_name="gemma2-9b-It",
    temperature=0.5
)

In [27]:
stuff_document_chain = create_stuff_documents_chain(llm,retrieval_qa_chat_prompt)

In [28]:
qa = create_retrieval_chain(retriever=db.as_retriever(),combine_docs_chain=stuff_document_chain)

In [29]:
query = " Write a query to get all employee detail from 'EmployeeDetail' table"

In [30]:
result = qa.invoke(input={'input':query})

In [32]:
result['answer']

'```sql\nSELECT * FROM EmployeeDetail;\n``` \n\nThis query will select all columns (`*`) from the table named `EmployeeDetail`. \n'

In [34]:
new_vector_store = FAISS.load_local(
    "my_faiss_index", embeddings, allow_dangerous_deserialization=True
)

In [ ]:
def run_llm(query):
    llm = ChatGroq(
    groq_api_key=groq_api_key,
    model_name="gemma2-9b-It",
    temperature=0.5
)
    retrieval_qa_chat_prompt  = hub.pull("langchain-ai/retrieval-qa-chat")
    stuff_document_chain = create_stuff_documents_chain(llm,retrieval_qa_chat_prompt)
    qa = create_retrieval_chain(retriever=db.as_retriever(),combine_docs_chain=stuff_document_chain)
    result = qa.invoke(input={'input':query})
    return result['answer']